In [14]:
import pandas as pd
import numpy as np

subway = pd.read_csv('sub_final.csv', encoding='cp949')

subway.drop('Unnamed: 0', axis = 1, inplace = True)
subway.drop('station_name', axis=1, inplace = True)
subway.drop('역지역', axis = 1, inplace = True)

In [22]:
subway.to_csv("subway_final.csv", encoding = 'utf-8')

In [21]:
bus = pd.read_csv('bus_total_final.csv')

bus.isnull().count()

Unnamed: 0    364900
사용년월          364900
표준ID          364900
ARS-ID        364900
정류장명          364900
총승차수          364900
총하차수          364900
X좌표           364900
Y좌표           364900
dist_name     364900
dtype: int64

In [111]:
import pandas as pd
import numpy as np

subway = pd.read_csv('subway_final.csv', encoding='cp949')

sub_loc = pd.read_csv('subway_dist_1.csv', encoding='cp949')
sub_loc.drop_duplicates(['역명'], keep = 'first',inplace = True)
sub_loc

      호선명      역명   구명
0     1호선     도봉산  도봉구
1     1호선      도봉  도봉구
2     1호선      방학  도봉구
3     1호선      창동  도봉구
4     1호선      녹천  도봉구
..    ...     ...  ...
354  우이신설      삼양  강북구
355  우이신설   삼양사거리  강북구
356  우이신설      솔샘  강북구
357  우이신설  북한산보국문  성북구
358  우이신설      정릉  성북구

[288 rows x 3 columns]

In [74]:
subway = subway.merge(sub_loc, left_on='name', right_on = '역명')
subway

,Unnamed: 0,date,line,name,geton,getoff,위도,경도,호선명,역명,구명
0,0,201701,1호선,동대문,444100,503536,37.571664,127.010618,1호선,동대문,종로구
1,135,201701,4호선,동대문,689481,707144,37.571664,127.010618,1호선,동대문,종로구
2,564,201702,1호선,동대문,435123,496961,37.571664,127.010618,1호선,동대문,종로구
3,699,201702,4호선,동대문,727740,743728,37.571664,127.010618,1호선,동대문,종로구
4,1127,201703,1호선,동대문,514558,587333,37.571664,127.010618,1호선,동대문,종로구
...,...,...,...,...,...,...,...,...,...,...,...
11959,17906,201907,우이신설선,화계,105610,98705,37.634084,127.017492,우이신설,화계,강북구
11960,18497,201908,우이신설선,화계,99632,93308,37.634084,127.017492,우이신설,화계,강북구
11961,19087,201909,우이신설선,화계,99026,92317,37.634084,127.017492,우이신설,화계,강북구
11962,19678,201910,우이신설선,화계,109429,101575,37.634084,127.017492,우이신설,화계,강북구
11963,20268,201911,우이신설선,화계,103988,97004,37.634084,127.017492,우이신설,화계,강북구

In [75]:
subway.drop('line', axis=1, inplace = True)
subway.drop('Unnamed: 0', axis=1, inplace = True)
subway.drop('역명', axis=1, inplace = True)
# subway[subway['name']== '동대문']

In [82]:
subway1 = subway.groupby(['date', 'name']).sum()

In [83]:
subway1.reset_index(inplace = True)

In [89]:
# subway1.drop('위도', axis=1, inplace = True)
# subway1.drop('경도', axis=1, inplace = True)

subway1

        date     name  index    geton   getoff
0     201701     가락시장   6167   504461   533305
1     201701  가산디지털단지   1175  1631799  1709562
2     201701       가양  10026   602131   578842
3     201701       가좌  11196   123861   115923
4     201701       강남   1112  3132733  3136516
...      ...      ...    ...      ...      ...
9408  201911      화랑대   8406   423533   318510
9409  201911       회기  11720   968012   930431
9410  201911       회현   5349   939697   998812
9411  201911    효창공원앞  16951   323312   313738
9412  201911       흑석  10705   344412   349276

[9413 rows x 5 columns]

In [99]:
subway_loc = pd.read_csv('subway_location.csv', encoding='cp949')
subway_loc[sub_loc['역이름'] == '사당역']

subway_loc.drop_duplicates(['역이름'], keep = 'first',inplace = True)

In [101]:
subway_loc[sub_loc['역이름'] == '사당역']

    역이름         위도         경도
41  사당역  37.476553  126.98155

In [103]:
station_name = [] 
for name in subway_loc['역이름']:
    station_name.append(str(name[:-1]))
station_name

subway_loc['역이름'] = station_name

In [108]:
# subway1 = subway1.merge(subway_loc, left_on='name', right_on='역이름')
subway1 = subway1.merge(sub_loc, left_on='name', right_on ='역명')

        date  name  index   geton  getoff   역이름         위도          경도
0     201701  가락시장   6167  504461  533305  가락시장  37.493092  127.118258
1     201702  가락시장   6171  490545  516910  가락시장  37.493092  127.118258
2     201703  가락시장   6175  556803  588400  가락시장  37.493092  127.118258
3     201704  가락시장   6179  530439  558838  가락시장  37.493092  127.118258
4     201705  가락시장   6183  525689  555847  가락시장  37.493092  127.118258
...      ...   ...    ...     ...     ...   ...        ...         ...
9408  201907    화계  11959  105610   98705    화계  37.634084  127.017492
9409  201908    화계  11960   99632   93308    화계  37.634084  127.017492
9410  201909    화계  11961   99026   92317    화계  37.634084  127.017492
9411  201910    화계  11962  109429  101575    화계  37.634084  127.017492
9412  201911    화계  11963  103988   97004    화계  37.634084  127.017492

[9413 rows x 8 columns]

In [115]:
subway1.drop('역이름', axis = 1 ,inplace = True)
subway1.drop('index', axis = 1 ,inplace = True)
subway1.drop('역명', axis = 1 ,inplace = True)

In [123]:
subway2 = subway1.sort_values(['date', 'name'])

In [125]:
subway2.to_csv('subway_final_final.csv', index = False, encoding = 'cp949')