In [124]:
import pandas as pd
import numpy as np

sub = pd.read_csv('subway_month.csv', encoding='cp949')
sub.drop('작업일자', axis = 1, inplace = True)
sub
sub2 = pd.pivot_table(sub, index=['사용월', '호선명','지하철역'], aggfunc=np.sum)


sub_loc = pd.read_csv('지하철노선위경도정보.csv', encoding='cp949')
sub_loc

sub_name = []

for name in sub_loc['역이름']:
    sub_name.append(str(name[:-1]))

sub_loc['station_name'] = sub_name
sub_loc

# site.merge(visitedSubset, left_on = 'name', right_on  = 'site')
sub4 = sub.merge(sub_loc, left_on = '지하철역', right_on = 'station_name')
sub4.to_csv('C:\Python37_Project\\sub4.csv', encoding = 'utf-8')
sub4.head(100)

,사용월,호선명,지하철역,유임승차인원,무임승차인원,유임하차인원,무임하차인원,역이름,역지역,위도,경도,호선,station_name
0,201911,9호선,노들,111792,34547,93906,31547,노들역,수도권,37.512658,126.953082,09호선,노들
1,201910,9호선,노들,124341,37144,107477,34030,노들역,수도권,37.512658,126.953082,09호선,노들
2,201909,9호선,노들,103933,32943,88390,30526,노들역,수도권,37.512658,126.953082,09호선,노들
3,201908,9호선,노들,108640,33017,91947,30465,노들역,수도권,37.512658,126.953082,09호선,노들
4,201907,9호선,노들,112952,34559,95248,31933,노들역,수도권,37.512658,126.953082,09호선,노들
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,201910,중앙선,신원,4622,4191,3434,3603,신원역,수도권,37.525575,127.373074,경의선,신원
96,201909,중앙선,신원,3949,3791,3158,3336,신원역,수도권,37.525575,127.373074,경의선,신원
97,201908,중앙선,신원,3477,3051,3005,2589,신원역,수도권,37.525575,127.373074,경의선,신원
98,201907,중앙선,신원,3560,3010,3125,2515,신원역,수도권,37.525575,127.373074,경의선,신원
99,201907,중앙선,신원,3560,3010,3125,2515,신원역,수도권,37.525575,127.373074,경의선,신원

In [41]:
import pandas as pd

bus_geton = pd.read_csv('bus_geton_2019.csv', encoding='cp949')
bus_geton['total'] = bus_geton.iloc[:,1:22].sum(axis=1)

bus_geton_total=bus_geton['total']

bus_2019 = pd.read_csv('bus_2019_1.csv', encoding='cp949')

bus_2019_1 = bus_2019.iloc[:,1:8]
bus_2019_2 = pd.concat([bus_2019_1, bus_geton_total], axis =1)
bus_2019_2

bus_getoff = pd.read_csv('bus_getoff_2019.csv', encoding='cp949')
bus_getoff['getofftotal'] = bus_getoff.iloc[:,1:22].sum(axis=1)
bus_getoff_total = bus_getoff['getofftotal']

bus_2019_3 = pd.concat([bus_2019_2, bus_getoff_total], axis =1)
bus_2019_3.drop('노선명', axis = 1, inplace = True)

bus_2019_3.columns = ['date', '노선ID','노선번호','표준버스정류장ID','버스정류정ARS','역명','총승차수','총하차수']

bus_2019_3.to_csv('C:\Python37_Project\\bus_2019_3.csv', encoding = 'utf-8')


bus_2019_3[bus_2019_3['노선번호'] == '마포_']

Empty DataFrame
Columns: [date, 노선ID, 노선번호, 표준버스정류장ID, 버스정류정ARS, 역명, 총승차수, 총하차수]
Index: []

In [37]:
import pandas as pd
bus_geton_2018 = pd.read_csv('bus_geton_2018.csv')
bus_geton_2018['getontotal'] = bus_geton_2018.iloc[:, 1:22].sum(axis=1)

# bus_geton_2018
bus_geton_2018_total = bus_geton_2018['getontotal']
bus_geton_2018_total

bus_2018 = pd.read_csv('bus_2018.csv', encoding='cp949')
bus_2018_1 = bus_2018.iloc[:,:7]

bus_2018_2 = pd.concat([bus_2018_1, bus_geton_2018_total], axis=1)
bus_2018_2

bus_getoff_2018 = pd.read_csv('bus_getoff_2018.csv')
bus_getoff_2018['getofftotal'] = bus_getoff_2018.iloc[:, 1:22].sum(axis=1)

bus_getoff_2018_total = bus_getoff_2018['getofftotal']
bus_getoff_2018_total

bus_2018_3 = pd.concat([bus_2018_2, bus_getoff_2018_total], axis=1)
bus_2018_3.drop('bus_route_nm', axis=1, inplace=True)

bus_2018_3.to_csv('bus_2018_3.csv', encoding='utf-8')

In [54]:
bus_geton_2017 = pd.read_csv('bus_geton_2017.csv')
bus_geton_2017['getontotal'] = bus_geton_2017.iloc[:, 1:22].sum(axis=1)


bus_geton_2017_total = bus_geton_2017['getontotal']
bus_geton_2017_total

bus_2017 = pd.read_csv('bus_2017.csv', encoding='cp949')
bus_2017_1 = bus_2017.iloc[:,:7]
bus_2017_1

bus_2017_2 = pd.concat([bus_2017_1, bus_geton_2017_total], axis=1)
bus_2017_2

bus_getoff_2017 = pd.read_csv('bus_getoff_2017.csv')
bus_getoff_2017['getofftotal'] = bus_getoff_2017.iloc[:, 1:22].sum(axis=1)

bus_getoff_2017_total = bus_getoff_2018['getofftotal']
bus_getoff_2017_total

bus_2017_3 = pd.concat([bus_2017_2, bus_getoff_2017_total], axis=1)
bus_2017_3.drop('bus_route_nm', axis=1, inplace=True)
bus_2017_3
bus_2017_3.to_csv('bus_2017_3.csv', encoding='utf-8')

In [3]:
import pandas as pd
bus_2017 = pd.read_csv('bus_2017.csv', encoding='cp949')
bus_2017.drop('work_dt', axis=1, inplace = True)
bus_2017.drop('work_dttm', axis=1, inplace = True)

# bus_2017.info()

# bus_2017[bus_2017[filter1]]
bus_ride_2017 = bus_2017.iloc[:, [7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53]]
bus_2017['total_ride'] = bus_ride_2017.sum(axis=1)

bus_alight_2017 = bus_2017.iloc[:, [8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54]]
bus_2017['total_alight'] = bus_alight_2017.sum(axis=1)

bus_info = bus_2017.iloc[:,0:7]
bus_total = bus_2017.iloc[:,55:]

In [79]:
bus_info = bus_2017.iloc[:,0:7]
bus_total = bus_2017.iloc[:,55:]

bus_2017_final = pd.concat([bus_info, bus_total], axis = 1)
bus_2017_final.drop('bus_route_nm',axis=1, inplace=True)

bus_2017_final.to_csv('bus_2017_final.csv', encoding='utf-8')

bus_2017_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462801 entries, 0 to 462800
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   use_mon       462801 non-null  int64
 1   bus_route_id  462801 non-null  int64
 2   bus_route_no  462801 non-null  object
 3   stnd_bsst_id  462801 non-null  int64
 4   bsst_ars_no   462801 non-null  object
 5   bus_sta_nm    462801 non-null  object
 6   total_ride    462801 non-null  int64
 7   total_alight  462801 non-null  int64
dtypes: int64(5), object(3)
memory usage: 28.2+ MB

In [43]:
import re
import pandas as pd

bus_2017_final = pd.read_csv('bus_2017_final.csv')

bus_2017_final.drop('Unnamed: 0', axis = 1, inplace = True)
bus_sta_user = bus_2017_final.groupby(['use_mon','bus_sta_nm'])['total_ride', 'total_alight'].sum()
bus_sta_user.to_csv('bus_station_user.csv', encoding = 'utf-8')


station_info = bus_2017_final.iloc[:, 3:6]
station_info.drop_duplicates(['bsst_ars_no'], keep = 'first', inplace = True)
station_info
bus_sta_user.merge(station_info, left_on='bus_sta_nm', right_on='bus_sta_nm' )

          bus_sta_nm  total_ride  total_alight  stnd_bsst_id bsst_ars_no
0         (구)단대동주민센터        6352          6383     204000140       48049
1         (구)단대동주민센터        6352          6383     205000111       49040
2         (구)단대동주민센터        6297          6234     204000140       48049
3         (구)단대동주민센터        6297          6234     205000111       49040
4         (구)단대동주민센터        7443          7071     204000140       48049
...              ...         ...           ...           ...         ...
152286    에이스하이엔드10차        1761          1121     117000225       18688
152287     종로4가.탑골공원        6835          5467     100000390        1015
152288     종로4가.탑골공원        6835          5467     100000391        1016
152289  종로6가.동대문종합시장        2105          2342     100000396        1021
152290  종로6가.동대문종합시장        2105          2342     100000397        1022

[152291 rows x 5 columns]

In [67]:
bus_ride_alight = pd.read_csv('bus_station_user2.csv', encoding='cp949')

bus_total=bus_ride_alight.merge(station_info, left_on='bus_sta_nm', right_on='bus_sta_nm' )

In [83]:
bus_loc=pd.read_csv('busStop_location.csv', encoding='cp949')
# bus_total.info()
# bus_loc.info()

# bus_total['bsst_ars_no'].astype(str).astype(int)
bus2017_total = bus_total.merge(bus_loc, left_on='stnd_bsst_id', right_on='표준ID')
bus2017_total.drop("stnd_bsst_id", axis = 1, inplace = True)
bus2017_total.drop("bus_sta_nm", axis = 1, inplace = True)
bus2017_total.sort_values('use_mon', inplace = True)

bus2017_total.to_csv('bus2017_total.csv', encoding = 'utf-8')

In [133]:
bus_2018 = pd.read_csv('bus_2018_3.csv')
bus_2018.drop('Unnamed: 0', axis = 1, inplace = True)
bus_2018.info()

bus_2018_1 = bus_2018.groupby(['use_mon', 'stnd_bsst_id'])['getontotal', 'getofftotal'].sum()
bus_2018_1.to_csv('bus_2018_rev.csv', encoding = 'utf-8')

bus_2018_final = pd.read_csv('bus_2018_rev.csv')
bus_2018_final.info()
station_info_2018 = bus_2018.iloc[:, 3:6]
station_info_2018.drop_duplicates(['bsst_ars_no'], keep = 'first', inplace = True)

bus_2018_R = bus_2018_final.merge(station_info_2018, left_on = 'stnd_bsst_id', right_on = 'stnd_bsst_id')
bus_2018_R
bus_2018_r2 = bus_2018_R.merge(bus_loc, left_on='stnd_bsst_id', right_on='표준ID')


bus_2018_r2.drop('stnd_bsst_id', axis =1 , inplace = True)
bus_2018_r2.drop('bsst_ars_no', axis =1 , inplace = True)
bus_2018_r2.drop('bus_sta_nm', axis =1 , inplace = True)

bus_2018_r2.to_csv('bus2018_final.csv', encoding = 'utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154085 entries, 0 to 154084
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   use_mon       154085 non-null  int64
 1   stnd_bsst_id  154085 non-null  int64
 2   getontotal    154085 non-null  int64
 3   getofftotal   154085 non-null  int64
dtypes: int64(4)
memory usage: 4.7 MB

In [249]:
bus_2019 = pd.read_csv('bus_2019_3.csv')
bus_2019.drop('Unnamed: 0', axis = 1, inplace = True)
bus_2019.info()


bus_2019_1 = bus_2019.groupby(['date', '표준버스정류장ID'])['총승차수', '총하차수'].sum()
bus_2019_1.to_csv('bus_2019_rev.csv', encoding = 'utf-8')

bus_2019_final = pd.read_csv('bus_2019_rev.csv')
bus_2019_final.info()
station_info_2019 = bus_2019.iloc[:, 3:6]
station_info_2019.info()
station_info_2019.drop_duplicates(['표준버스정류장ID'], keep = 'first', inplace = True)

bus_2019_R = bus_2019_final.merge(station_info_2019, left_on = '표준버스정류장ID', right_on = '표준버스정류장ID')
bus_2019_R
bus_2019_r2 = bus_2019_R.merge(bus_loc, left_on='표준버스정류장ID', right_on='표준ID')


bus_2019_r2.drop('표준버스정류장ID', axis =1 , inplace = True)
bus_2019_r2.drop('버스정류정ARS', axis =1 , inplace = True)

bus_2019_r2
# bus_2019_r2.drop('정류장명', axis =1 , inplace = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426153 entries, 0 to 426152
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       426153 non-null  int64
 1   노선ID       426153 non-null  int64
 2   노선번호       426153 non-null  object
 3   표준버스정류장ID  426153 non-null  int64
 4   버스정류정ARS   426153 non-null  object
 5   역명         426153 non-null  object
 6   총승차수       426153 non-null  int64
 7   총하차수       426153 non-null  int64
dtypes: int64(5), object(3)
memory usage: 26.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141119 entries, 0 to 141118
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       141119 non-null  int64
 1   표준버스정류장ID  141119 non-null  int64
 2   총승차수       141119 non-null  int64
 3   총하차수       141119 non-null  int64
dtypes: int64(4)
memory usage: 4.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426153 entries, 0 to 426152
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   표준버스정류장ID  426153 non-null  int64
 1   버스정류정ARS   426153 non-null  object
 2   역명         426153 non-null  object
dtypes: int64(1), object(2)
memory usage: 9.8+ MB

          date   총승차수   총하차수  ...        정류장명         X좌표        Y좌표
0       201901  10822  15600  ...     종로2가사거리  126.987750  37.569765
1       201902   9570  13648  ...     종로2가사거리  126.987750  37.569765
2       201903  11962  16490  ...     종로2가사거리  126.987750  37.569765
3       201904  12265  16448  ...     종로2가사거리  126.987750  37.569765
4       201905  13384  16954  ...     종로2가사거리  126.987750  37.569765
...        ...    ...    ...  ...         ...         ...        ...
116090  201911      5     75  ...     왕십리로교차로  127.038935  37.557720
116091  201911      3     64  ...     왕십리로교차로  127.039134  37.557768
116092  201911   4013  10285  ...     경동시장사거리  127.038109  37.577229
116093  201911      3   3737  ...  중랑공영차고지.종점  127.104468  37.613384
116094  201911     35   1540  ...    은평공영차고지앞  126.884144  37.591552

[116095 rows x 9 columns]

In [258]:

# bus_2019_r2 = bus_2019_r2[['date', '표준ID','ARS-ID','정류장명','총승차수','총하차수','X좌표','Y좌표']]
# bus_2019_r2.rename(columns = {'date':'사용년월'}, inplace=True)
# bus_2019_r2.info()
# bus_2019_r2.to_csv('bus2019_final.csv', encoding = 'utf-8')

bus2019_final = pd.read_csv('bus2019_final.csv')
bus2019_final.drop('Unnamed: 0', axis = 1, inplace = True)
bus2019_final.info()
# bus2019_final = bus2019_final[['date', '표준ID','ARS-ID','총승차수','총하차수','X좌표','Y좌표']]
# bus2019_final.rename(columns = {'date':'사용년월'}, inplace=True)
# bus2019_final
# bus2019_final = bus2019_final.sort_values(['사용년월', '표준ID'])
# bus2019_final.to_csv('bus2019_final.csv', encoding = 'utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116095 entries, 0 to 116094
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용년월    116095 non-null  int64
 1   표준ID    116095 non-null  int64
 2   ARS-ID  116095 non-null  int64
 3   정류장명    116095 non-null  object
 4   총승차수    116095 non-null  int64
 5   총하차수    116095 non-null  int64
 6   X좌표     116095 non-null  float64
 7   Y좌표     116095 non-null  float64
dtypes: float64(2), int64(5), object(1)
memory usage: 7.1+ MB

In [228]:
bus2017_final = pd.read_csv('bus2017_total.csv')
bus2017_final.info()

bus2017_final.drop('Unnamed: 0', axis=1, inplace=True)
bus2017_final.drop('bsst_ars_no', axis=1, inplace=True)

bus2017_final = bus2017_final[['use_mon', '표준ID', 'ARS-ID','정류장명','total_ride', 'total_alight', 'X좌표', 'Y좌표']]
bus2017_final.rename(columns = {'use_mon':'사용년월', 'total_ride':'총승차수', 'total_alight':'총하차수'}, inplace = True )
bus2017_final.sort_values(['사용년월', '표준ID'])
bus2017_final.to_csv('bus2017_final.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123146 entries, 0 to 123145
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    123146 non-null  int64
 1   use_mon       123146 non-null  int64
 2   total_ride    123146 non-null  int64
 3   total_alight  123146 non-null  int64
 4   bsst_ars_no   123146 non-null  int64
 5   표준ID          123146 non-null  int64
 6   ARS-ID        123146 non-null  int64
 7   정류장명          123146 non-null  object
 8   X좌표           123146 non-null  float64
 9   Y좌표           123146 non-null  float64
dtypes: float64(2), int64(7), object(1)
memory usage: 9.4+ MB

In [235]:
bus2018_final = pd.read_csv('bus2018_final.csv')
bus2018_final.info()

bus2018_final.drop('Unnamed: 0', axis=1, inplace=True)
# bus2017_final.drop('bsst_ars_no', axis=1, inplace=True)

# bus2018_final = bus2018_final[['use_mon', '표준ID', 'ARS-ID','정류장명','getontotal', 'getofftotal', 'X좌표', 'Y좌표']]
# bus2018_final.rename(columns = {'use_mon':'사용년월', 'getontotal':'총승차수', 'getofftotal':'총하차수'}, inplace = True )
bus2018_final = bus2018_final.sort_values(['사용년월', '표준ID'])
# bus2018_final.to_csv('bus2018_final.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125659 entries, 0 to 125658
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  125659 non-null  int64
 1   사용년월        125659 non-null  int64
 2   표준ID        125659 non-null  int64
 3   ARS-ID      125659 non-null  int64
 4   정류장명        125659 non-null  object
 5   총승차수        125659 non-null  int64
 6   총하차수        125659 non-null  int64
 7   X좌표         125659 non-null  float64
 8   Y좌표         125659 non-null  float64
dtypes: float64(2), int64(6), object(1)
memory usage: 8.6+ MB

KeyError: "['getofftotal', 'use_mon', 'getontotal'] not in index"

In [236]:
bus2018_final = pd.read_csv('bus2018_final.csv')
bus2018_final = bus2018_final.sort_values(['사용년월', '표준ID'])
bus2018_final.drop('Unnamed: 0', axis = 1 , inplace = True)

In [262]:
bus2018_final
bus2019_final
bus2017_final

          사용년월       표준ID  ARS-ID  ...   총하차수         X좌표        Y좌표
0       201701  117000089   18175  ...   6861  126.906261  37.453615
1       201701  111900018   12528  ...   3778  126.907223  37.604606
2       201701  118000532   19456  ...  11223  126.902013  37.503807
3       201701  120900164   21904  ...    502  126.949426  37.449036
4       201701  121900137   22901  ...  51619  127.017915  37.485451
...        ...        ...     ...  ...    ...         ...        ...
123141  201712  121000131   22207  ...  31385  127.007759  37.509209
123142  201712  122000095   23198  ...  90639  127.060975  37.511902
123143  201712  110900019   11542  ...    511  127.061694  37.662265
123144  201712  110900057   11796  ...   3289  127.061693  37.663186
123145  201712  100000397    1022  ...   2342  127.005714  37.571127

[123146 rows x 8 columns]

In [265]:
bus_total = pd.concat([bus2017_final, bus2018_final, bus2019_final])
bus_total.to_csv('bus_total.csv', encoding='utf-8')